@media (min-width: 1400px) {
    .add {
        flex-direction: row;
        align-items: center;
    }

    .add__title {
        align-items: center;
        width: 100%;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .add__list {
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 1200px) {

    .container-wrapper {
        padding-left: 50px;
    }

    .sidebar {
        display: none;
    }

    .sidebar-second__button span {
        background-image: url(../images/Arrow-close-icon.svg);
        margin-right: 0;
        padding: 0;
    }

    .wrapper .sidebar-close {
        display: block;
    }

    .sidebar-close {
        background: var(--primary);
        position: fixed;
        top: 0;
        left: 0;
        width: 52px;
        height: 100%;
        padding: 25px 0;
        transition: all 0.5s ease;
    }

    .sidebar-second {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .sidebar-second__button {
        padding-top: 10px;
    }

    .sidebar-second__button {
        display: flex;
        justify-content: center;
        margin-bottom: 11.5px;
        padding: 0;
        padding-bottom: 11.5px;

        border-bottom: 1px solid #1A459C;
        max-width: 40px;
    }

    .sidebar-icon {
        position: static;
        max-width: 31px;
    }
}

@media (max-width: 968px) {
    .service {
        display: none;
    }

    .service-package {
        display: block;
    }

    .payment-mini {
        display: block;
    }

    .refund-rate {
        display: block;
        width: 100%;
    }

    .refund-table {
        max-width: 100%;
    }

    .payment {
        display: none;
    }

    .info {
        margin: 0;
        width: 100%;
        max-width: 100%;
    }

    .header .header-descr {
        display: none;
    }

    .tabs-content__block {
        justify-content: space-between;
    }

    .tourist-data {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}