@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font: "Muller", Arial, Helvetica, sans-serif;
    --black: var(--black, #121723);
    --primary: #1981DC;
}

html {
    box-sizing: border-box;
}

*:focus-visible {
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    border: none;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.container {
    padding-right: 16px;
    margin-left: auto;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-color: #EDEDED;
}

/* sidebar */

.wrapper {
    z-index: 543454365;
    position: relative;
    display: block;
}

.sidebar-close {
    display: none;
}

.wrapper .sidebar {
    background: var(--primary);
    position: static;
    top: 0;
    left: 0;
    width: 266px;
    height: 100%;
    padding: 26px 0;
    transition: all 0.5s ease;
}

.sidebar-icon {
    position: absolute;
    top: 4px;
    right: -34px;
    padding: 15px 17px;
    background-color: #fff;
    background-image: url(../images/menu-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.sidebar-first {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 8px;
}

.sidebar-second {
    width: 100%;
}

.sidebar-third {
    position: absolute;
    margin-top: auto;
    bottom: 0;
    top: auto;
}

.sidebar-third__link {
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: white;
}

.sidebar-close .sidebar-third {
    margin-top: auto;
    background-color: #0D6ABC;
    height: 41px;
    width: 100%;
}

.sidebar-third__block {
    padding: 12px 13px;
    background-color: #0D6ABC;
    font-size: 13px;
    color: white;
    font-weight: 400;
}

.sidebar-first__link {
    display: block;
    margin: 0 auto;
    margin-bottom: 21px;
}

.sidebar-first__button {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 7px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background: linear-gradient(#5BB3FF, #33A0FF);
}

.sidebar-second__block {
    margin: 0 auto;
    margin-bottom: 7px;
    max-width: 250px;
}

.sidebar-second__block:last-child {
    max-width: 100%;
    padding-left: 8px;
}

.sidebar-second__button {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 6px;
    ;
    text-align: left;
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    color: white;
    font-size: 13px;
}

.sidebar-second__button span {
    display: block;
    margin-right: auto;
    margin-right: 6px;
    background-image: url(../images/Arrow-icon.svg);
    background-color: #1A459C;
    border-radius: 4px;
    width: 36px;
    height: 31px;
    background-repeat: no-repeat;
    background-position: center;
}

.sidebar-second__span {
    display: block;
    border-bottom: 1px solid #1A459C;
}

/* menu */

.sidebar-second__title {
    margin-bottom: 4px;
    padding: 8px;
    padding-left: 44px;
    background-color: white;
    background-image: url(../images//menu-icon.svg);
    background-repeat: no-repeat;
    background-position: 8px 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #1981DC;
    font-size: 13px;
    font-weight: 600;
}

.sidebar-second__item {
    margin-left: auto;
    max-width: 214px;
}

.sidebar-second__item-button {
    width: 100%;
    padding: 4px;
    padding-left: 22px;
    background-color: #33A0FF;
    background-image: url(../images/arrow-active.svg);
    background-repeat: no-repeat;
    background-position: 8px 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
}

/* header */

.header-top__container {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0;
}

.header-top {
    padding-top: 5px;
    padding-bottom: 4px;
    margin-bottom: 18px;
    width: 100%;
    background-color: #4990FB;
}

.header-top__block {
    margin-left: auto;
    margin-right: 24px;
}

.header-top__span {
    color: white;
    font-size: 14px;
}

.header-top__btn {
    max-height: 123px;
    background-color: #1A459C;
    background-image: url(../images/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding: 6px 10px;
    padding-left: 29px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

.header-top__title {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* header bottom */

.header-bottom__container {
    display: flex;
    justify-content: space-between;
    align-items: top;
}

.header-greeting__span {
    display: block;
}

.header-greeting__span:first-child {
    color: #0A2239;
    font-size: 13px;
}

.header-greeting__span:last-child {
    color: #0A2239;
    font-size: 13px;
    font-weight: 600;
}

.header-descr__p {
    margin-top: 0;
    margin-right: 24px;
    color: #0A2239;
    max-width: 372px;
    font-size: 13px;
}

.header-contacts {
    line-height: 15px;
    padding-left: 24px;
    border-left: 1px solid #1981DC;
}

.header-descr__p span {
    font-weight: 600;
}

.header-block {
    display: flex;
    align-items: flex-start;
}

.header-contacts__span {
    font-size: 13px;
}

.header-contacts__a {
    all: unset;
    font-size: 13px;
    color: #1981DC;
    font-weight: 600;
    border-bottom: none;
    cursor: pointer;
}

/* main */

.main .main__container,
.header-top__container,
.header-bottom__container {
    padding-left: 16px;
    width: 100%;
}

..header-top__container {
    padding-left: 51px;
}

.header-top__container {
    padding-left: 45px;
}

.main__container {
    display: flex;
}

.info {
    margin-right: 16px;
    width: 100%;
}

.tabs {
    margin-bottom: 10px;
    filter: drop-shadow(0 3.54px 4.8px rgb(3%, 0%, 18%, 4.72%));
    filter: drop-shadow(0 7px 11px rgb(3%, 0%, 18%, 7%));
}

.main {
    display: flex;
    justify-content: space-between;
}

.tabs__list {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    margin-top: 0;
}

.tabs__btn {
    padding: 4px 6px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: #6AACEA;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.tabs__btn--active {
    padding: 10px 6px;
    background-color: #0F7EE6;
}

.tabs__item:not(:last-child) {
    margin-right: 4px;
}

.tabs-content {
    padding: 10px 16px;
    padding-bottom: 16px;
    width: 100%;
    border-top: 5.5px solid #0F7EE6;
    border-radius: 4px;
    border-top-left-radius: 0px;
    background-color: white;
}

.tabs-content__block {
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 3px solid #0F7EE6;
}

.tabs-content__title {
    color: #0F7EE6;
    font-size: 14px;
    font-weight: 700;
}

.tabs-content__btn {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    max-width: 363px;
    width: 100%;
    background-color: #5CB85C;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    background-position: 89px 11px;
}

.tabs-content__btn svg {
    margin-right: 6px;
    width: 18px;
    height: 16px;
}

.tabs-content__btn span {
    position: absolute;
    right: -3px;
    top: -3px;
    padding: 0px 4px;
    padding-top: 1px;
    background-color: #FF1010;
    color: white;
    font-size: 12px;
    border-radius: 100px;
}

/* section 1 - tabs */

.tabs-content__d {
    margin-bottom: 18px;
    padding-bottom: 16px;
    border-bottom: 1px solid #CECECE;
}

.tabs-content__list {
    max-width: 500px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tabs-content__item {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.tabs-content__item:not(:last-child) {
    margin-bottom: 6px;
}

.tabs-content__label {
    display: inline-block;
    position: relative;

    color: #777777;
    font-size: 13px;
}

.tabs-content__label:after {
    content: '';
    position: absolute;
    left: 100%;
    right: -9999px;
    bottom: 0;
}

.tabs-content__left {
    width: 35%;
    overflow: hidden;
    position: relative;
    float: left;
}

.tabs-content__cor {
    width: 65%;
    float: right;
    font-size: 13px;
    font-weight: 600;
}

.tabs-content__div,
.tabs-content__span {
    color: #5CB85C;
}

.tabs-content__span {
    display: block;
    margin-right: 4px;
}

.tabs-content__div {
    padding: 2px 7px;
    border: 1px solid #5CB85C;
    border-radius: 2px;
}

.tabs-content__div:first-child {
    margin-right: 4px;
}

.tabs-content__cor {
    display: flex;
    align-items: center;
}

.tabs-content__d {
    position: relative;
}

.content-booking {
    position: absolute;
    right: 0;
    top: 0;
}

.content-booking__title {
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #0F7EE6;
}

.content-booking__d {
    padding: 3px 8px;
    font-size: 13px;
    font-weight: bold;
    color: #FF5757;
    border: 1px solid #CECECE;
    border-radius: 2px;
}

.content-booking__d:not(:last-child) {
    margin-right: 2px;
}

.content-booking__block {
    display: flex;
    justify-content: flex-end;
}

/* tabs-cost */

.tabs-cost span {
    color: #0A2239;
    font-size: 15px;
    font-weight: 500;
}

/* necessity */

.necessity {
    margin-bottom: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    border: 1px solid #FF5757;
    border-radius: 8px;
}

.necessity div:first-child div {
    margin-right: 16px;
    background-image: url(../images/icon-warning.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

.necessity__descr {
    font-size: 13px;
    font-weight: 500;
    color: #FF5757;
}

.necessity__btn {
    padding: 8px 16px;
    max-height: 31px;
    background-color: #FF5757;
    color: white;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
}

/* tourist-top */

.tourist {
    margin-bottom: 10px;
    padding: 5px 16px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 4px;
    filter: drop-shadow(0 3.54px 4.8px rgb(3%, 0%, 18%, 4.72%));
    filter: drop-shadow(0 7px 11px rgb(3%, 0%, 18%, 7%));
}

.tourist-top {
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tourist-top__title {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    color: #0A2239;
}

.tourist-top__div {
    padding-left: 23px;
    background-image: url(../images/icon-modify-tourist.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.tourist-top__a {
    color: #0F7EE6;
    font-size: 13px;
    font-weight: 500;
}

.tourist-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    gap: 32px;
    row-gap: 3px;
}

.tourist-data:last-child .tourist-data__block span {
    margin-bottom: 4px;
}

.tourist-data:not(:last-child) {
    margin-bottom: 16px;
}

.tourist__item:not(:last-child) {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #CECECE;
}

.tourist-data__block:nth-child(1) {
    grid-column: 1 / 3;
}

.tourist-data__block:nth-child(3) {
    grid-column: 1 / 3;
}

.tourist-data__block {
    display: flex;
    flex-direction: column;
}

.tourist-data__span {
    display: block;
    margin-bottom: 2px;
    font-size: 13px;
}

.tourist-data__title {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.tourist-data:last-child {
    display: flex;
    flex-direction: column;
}

.tourist-data:last-child .tourist-data__block {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tourist-data:last-child .tourist-data__block span {
    margin-right: 8px;
}

.tourist-data__p {
    font-size: 14px;
    font-weight: 700;
}

.tourist-data__a {
    color: #286A3A;
    font-size: 14px;
}

/* add */

.add {
    margin-bottom: 17px;
    padding: 16px;
    background-color: white;
    border-radius: 4px;

    filter: drop-shadow(0 3.54px 4.8px rgb(3%, 0%, 18%, 4.72%));
    filter: drop-shadow(0 7px 11px rgb(3%, 0%, 18%, 7%));
}

.add__title {
    margin-bottom: 9px;
    display: flex;
    justify-content: flex-end;
    color: #0F7EE6;
    text-transform: uppercase;
    font-size: 15px;
}

.add__list {
    display: flex;
    justify-content: space-between;
}

.add__item {
    max-width: 106px;
    width: 100%;
}

.add__btn {
    display: flex;
    justify-content: center;
}

.add__item:not(:last-child) {
    margin-right: 8px;
}

.add__btn {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    color: white;
    font-size: 13px;
    background-color: #FF9600;
    border-radius: 4px;
    background-image: url(../images/Union.svg);
    background-repeat: no-repeat;
    background-position: 6px 8px;
}

/* composition */

.composition {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.composition__title {
    margin-right: 10px;
    color: #0F7EE6;
    font-size: 14px;
    font-weight: 700;
}

.composition__list {
    display: flex;
}

.composition__item:not(:last-child) {
    margin-right: 5px;
}

/* STYLIZATION OF SERVICES */

.service-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.service-top__block {
    display: flex;
}

.service-top__span {
    display: block;
    margin-right: 6px;
    font-size: 15px;
    font-weight: bold;
}

.service-top__title {
    font-size: 15px;
    font-weight: bold;
    color: #0F7EE6;
}

.service-top__btn {
    padding-left: 19px;
    color: #0F7EE6;
    font-size: 13px;
    font-weight: 500;
    background-image: url(../images/icon-cancel.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
}

/* cruise-schedule */

.cruise-schedule {
    display: flex;
    margin-bottom: 16px;
}

.cruise-schedule__block {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.cruise-schedule__span {
    display: block;
    margin-right: 6px;
    font-size: 13px;
    color: #0A2239;
}

.cruise-schedule__a {
    font-size: 13px;
    color: #0F7EE6;
}

.cruise-schedule__btn {
    padding: 4px 8px;
    font-size: 13px;
    background-color: #E3E6EA;
    color: #0F7EE6;
    border-radius: 4px;
}

/* service-list */

.service__item {
    padding: 8px 16px;
    padding-bottom: 17px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;

    filter: drop-shadow(0 4px 4.8px rgb(3%, 0%, 18%, 4.72%));
    filter: drop-shadow(0 7px 11px rgb(3%, 0%, 18%, 7%));
}

.service-list {
    padding-bottom: 16px;
    border-bottom: 1px dotted #888;
    margin-bottom: 16px;
    width: 100%;
}

.service-item {
    display: flex;
    flex-wrap: wrap;
}

.service-item:not(:last-child) {
    margin-bottom: 8px;
}

.service-list__block {
    display: flex;
    flex-direction: row;
}

.service-descr__block span:first-child {
    margin-bottom: 6px;
}

.service-excursion__item .service-list:last-child .service-item:nth-child(2) {
    margin-bottom: 15px;
}

.service-list__block .service-list__span:nth-child(2) {
    color: #121723;
    font-weight: 500;
}

.service-list__block .service-list__span:nth-child(1) {
    margin-right: 8px;
}

.service-list__block:not(:last-child) {
    margin-right: 16px;
}

.service-list__span {
    font-size: 13px;
    color: #777777;
}

.service-list__descr {
    width: 100%;
}

.service-item__p {
    color: #0A2239;
    font-size: 13px;
    font-weight: 500;
}

/* service-bottom */

.service-bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.service-result {
    margin-right: 16px;
}

.service-result__span {
    color: #0F7EE6;
    font-size: 13px;
}

.service-result__span:first-child {
    margin-right: 8px;
}

.service-result__span:last-child {
    font-weight: bold;
}

.service-status {
    padding-left: 16px;
    border-left: 1px dotted #888;
    display: flex;
    align-items: center;
}

.service-status__span {
    display: block;
    margin-right: 8px;
    font-size: 13px;
    font-weight: 500;
    color: #5CB85C;
}

.service-status__div {
    padding: 4px 8px;
    font-size: 15px;
    font-weight: 500;
    color: #5CB85C;
    border: 1px solid #5CB85C;
    border-radius: 2px;
}

.service-insurance__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-insurance__item .service-item__block {
    display: flex;
    align-items: center;
}

.service-insurance__status {
    align-items: center;
}

.service-insurance__status span {
    color: #5CB85C;
    margin-right: 4px;
    font-size: 13px;
}

.service-insurance__status div {
    padding: 3px 8px;
    color: #5CB85C;
    ;
    font-size: 13px;
    border: 1px solid #5CB85C;
    border-radius: 2px;
}

/* bonus */

.bonus {
    margin-bottom: 10px;
    padding: 16px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    border-radius: 4px;
}

.bonus__span {
    display: block;
    margin-right: 8px;
    font-size: 13px;
    font-weight: 500;
}

.bonus__block {
    color: #0F7EE6;
    font-size: 13px;
    font-weight: 500;
}

/* sum */

.sum {
    margin-bottom: 10px;
    padding: 16px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
}

.sum__span {
    margin-right: 8px;
    color: #0F7EE6;
    font-size: 15px;
}

.sum-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sum-block__span {
    margin-left: auto;
    color: #0F7EE6;
}

.sum-block__span:first-child {
    font-size: 16px;
    font-weight: 500;
}

.sum-block__span:last-child {
    font-size: 12px;
    font-weight: 500;
    text-decoration: line-through;
}

/* chat */

.chat {
    padding: 16px;
    background-color: white;
    border-radius: 4px;
}

.chat__title {
    text-transform: uppercase;
    color: #5CB85C;
    font-size: 14px;
    font-weight: bold;
}

.chat__block {
    margin-bottom: 12px;
    width: 100%;
    padding: 4px 8px;
    border: 2px solid #5CB85C;
    border-radius: 2px;
}

.chat-form {
    width: 100%;
}

.chat-form__textarea {
    margin-bottom: 4px;
    padding: 16px;
    width: 100%;
    max-height: 63px;
    outline: #888;
    outline: 4px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    resize: none;
}

.chat-form__btns {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
}

.chat-form__btns .list-format div,
.chat-form__btns .text-format div {
    cursor: pointer;
}

.chat-form__btns button {
    cursor: pointer;
}

.chat-form__btns {
    padding-left: 17px;
}

.text-format div:not(:last-child) {
    margin-right: 10px;
}

.list-format div:not(:last-child) {
    margin-right: 10px;
}

.download-first {
    background-image: url(../images/icon-image-chat.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
}

.download-second {
    background-image: url(../images/icon-attach.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
}

.text-format,
.list-format {
    display: flex;
    margin-right: 26px;
}

.list-format button:not(:last-child) {
    margin-right: 8px;
}

.chat-form__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.chat-form__btn {
    padding: 6px 16px;
    background-color: #0F7EE6;
    font-size: 13px;
    font-weight: bold;
    border-radius: 2px;
    color: white;
    max-height: 98px;
}

.chat-realizer,
.chat-supervisor {
    margin-bottom: 7px;
    background-color: #DFF7FF;
    padding: 16px;
    border: px solid #BBBBBB;
    border-radius: 4px;
}

.chat-supervisor div {
    margin-bottom: 5px;
}

.chat-robot {
    margin-bottom: 16px;
    background-color: #F6F6F6;
    padding: 16px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
}

.chat-sms__descr {
    line-height: 20px;
}

.chat-client {
    background-color: #D7FFE2;
    padding: 16px;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
}

.chat-robot .chat-top__title {
    color: #0A2239;
    border-color: #0A2239;
}

.chat-form__block {
    margin-bottom: 10px;
}

.chat-top {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.chat-sms__a {
    color: #0F7EE6;
    font-size: 13px;
    font-style: bold;
    background-image: url(../images/icon-attach-blue.svg);
    background-repeat: no-repeat;
    padding-left: 15px;
}

.chat-sms__descr {
    font-size: 13px;
    color: #242424;
}

.chat-top__title {
    margin-right: 8px;
    padding: 4px 8px;
    color: #2F32FE;
    border: 1.5px solid #2F32FE;
    border-radius: 2px;
    font-size: 13px;
    font-weight: 500;
}

.chat-client .chat-top__data span:nth-child(1) {
    font-weight: bold;
    color: #0A2239;
}

.chat-top__data span {
    color: #0A2239;
    font-size: 13px;
}

.chat-top__data span:last-child {
    color: #616161;
    font-size: 13px;
}

/* date */

.chat-date {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-date__block {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
    font-weight: bold;
    color: #676767;
}

.chat-date__span {
    width: 200px;
    display: block;
    border-bottom: 1px dotted #888;
}

.file-download__btn {
    color: #777777;
    font-size: 12px;
    font-weight: 500;
    background-color: transparent;
}

/* 2 SECTION */

.payment {
    max-width: 350px;
    width: 100%;
    padding-top: 35px;
}

.payment-table {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #cecece;
}

.payment__container {
    padding: 16px;
    background-color: white;
    border-radius: 4px;
}

.payment-top {
    padding: 8px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(45deg, rgba(15, 126, 230, 1), rgba(106, 172, 234, 1));
}

.payment-top__title {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.prepayment-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prepayment-table__title,
.refund-table__title {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
}

.prepayment-item {
    padding: 5px 8px;
    background-color: #EDEDED;
    border-radius: 2px;
}

.prepayment-data {
    margin-right: 8px;
    display: flex;
    font-size: 13px;
}

.prepayment-sum {
    margin-right: 8px;
    padding: 4px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
}

.prepayment-paid {
    padding-top: 4px;
    padding-bottom: 4px;
    max-width: 96px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;

    display: flex;
    justify-content: center;
}

.prepayment-paid--success {
    border: 1px solid #5CB85C;
    color: #5CB85C;
}

.prepayment-paid--error {
    border: 1px solid #FF5757;
    color: #FF5757;
}

.prepayment-table__item {
    margin-bottom: 8px;
}

/* 2 section mini */

.payment-mini {
    display: none;
}

.payment-chart,
.payment-btns,
.payment-loyalty {
    margin-bottom: 8px;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
}

.payment-btns {
    display: flex;
    justify-content: center;
}

.payment-btns__btn {
    padding: 10.5px;
    max-width: 275px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FF9600;
    border-radius: 3px;

    color: white;
    font-size: 16px;
    font-weight: 600;
}

.payment-btns__btn:first-child {
    margin-right: 10px;
}

.payment-chart__title {
    padding-left: 25px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #0F7EE6;

    background-image: url(../images/icon-chart.svg);
    background-repeat: no-repeat;
}

.payment-loyalty {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
}

.payment-loyalty button {
    padding: 6px;
    background-color: #FF9600;
    border-radius: 3px;
    color: white;
    font-size: 13px;
    font-weight: 500;
    width: 100%;
}

.payment-discount,
.payment-bonus {
    padding: 12px;
    width: 100%;
}

.payment-discount {
    margin-right: 10px;
    background-color: #E9F2FB;
    border-radius: 8px;
}

.payment-bonus {
    border: 1px solid #CECECE;
    border-radius: 8px;
}

.payment-discount span:first-child,
.payment-bonus__block span:first-child {
    display: block;
    margin-right: 8px;
    font-size: 15px;
    font-weight: 500;
}

.payment-discount__block,
.payment-bonus__block {
    display: flex;
    margin-bottom: 6px;
}


.payment-discount span:last-child,
.payment-bonus__block span:last-child {
    font-size: 15px;
    font-weight: 500;
    color: #0F7EE6;
}

.chart-item__title {
    display: block;
    margin-bottom: 4px;
    color: #0A2239;
    font-size: 14px;
    font-weight: 500;
}

.chart-item {
    max-width: 308px;
    width: 100%;
}

.chart-item:not(:last-child) {
    margin-bottom: 8px;
}

.chart-item__block {
    padding: 6px 8px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #EDEDED;
    border-radius: 4px;
}

.chart-item:not(:last-child) {
    margin-right: 8px;
}

.chart-list {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.payment-mini .refund-table {
    padding: 2px 6px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.refund-table__item:nth-child(1) {
    grid-column: 1 / 1;
}

.refund-table__item:nth-child(2) {
    grid-column: 2 / 4;
}

.payment-mini .refund-table__block,
.payment-mini .refund-rate {
    width: 100%;
}

.payment-mini .refund-table__item:not(:last-child) {
    margin-right: 8px;
}

/* refund */

.refund-table {
    border: 1px solid #BBBBBB;
    border-radius: 4px;
}

.refund-table__item {
    display: flex;
    flex-direction: column;
}

.refund-table__block,
.refund-data__block {
    display: flex;
    align-items: center;
}

.refund-date {
    display: flex;
    margin-right: 4px;
}

.refund-table__block {
    padding: 4px 6px;
    background-color: #EDEDED;
}

.refund-table__block span,
.refund-table__block div,
.refund-date span {
    font-size: 12px;
}

.refund-table__item {
    margin-bottom: 8px;
}

.refund-table__title {
    margin-left: 4px;
}

.refund-sum {
    display: flex;
    justify-content: center;
    max-width: 70px;
    margin-right: 4px;
    padding: 1px;
    background-color: white;
    width: 100%;
}

.refund-rate {
    display: block;
    width: 100%;
}

/* pay */

.pay {
    margin-bottom: 16px;
}

.pay-top__title {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
}

.pay-top__span {
    font-size: 14px;
}

.pay-top {
    margin-bottom: 16px;
}

.pay-list {
    padding: 4px 11px;
    background-color: #EDEDED;
    border-radius: 4px;
}

.pay-item__span {
    font-size: 14px;
    margin-right: 4px;
}

.pay-item {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
}

.pay-item__block {
    display: flex;
    flex-wrap: wrap;
}

.pay-item__block a {
    margin-right: 4px;
    font-size: 14px;
    color: #0F7EE6;
}

/* loyalty */

.loyalty {
    margin-bottom: 16px;
    padding: 12px;
    background-color: #E9F2FB;
    border-radius: 8px;
}

.loyalty__block {
    margin-bottom: 8px;
}

.loyalty__span {
    font-size: 15px;
}

.loyalty__block span:last-child {
    color: #0F7EE6;
    font-weight: 500;
    font-size: 15px;
}

.loyalty__btn,
.bonus__btn {
    padding: 6px;
    background-color: #FF9600;
    border-radius: 4px;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 13px;
}

/* bonus */

.bonus {
    display: flex;
    flex-direction: column;
    ;
    margin-bottom: 16px;
    padding: 12px;
    border: 1px solid #CECECE;
    border-radius: 8px;
}

.bonus__block {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.bonus__span {
    font-size: 15px;
    font-weight: 500;
    color: #0A2239;
}

.bonus__block span:last-child {
    font-size: 15px;
}

/* booking */
.booking__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.booking__title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
}

.booking__item {
    position: relative;
    padding: 8px;
    padding-left: 48px;
    background-color: #E9F2FB;
    border-radius: 3px;
    width: 100%;
}

.booking__item a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.booking__item:nth-child(1) {
    background-image: url(../images/icon-cruise.svg);
    background-repeat: no-repeat;
    background-position: 16px 12px;
}

.booking__item:nth-child(2) {
    background-image: url(../images/icon-transfer.svg);
    background-repeat: no-repeat;
    background-position: 16px 12px;
}

.booking__item:nth-child(3) {
    background-image: url(../images/icon-hotel.svg);
    background-repeat: no-repeat;
    background-position: 16px 12px;
}

.booking__item:nth-child(4) {
    background-image: url(../images/icon-excursion.svg);
    background-repeat: no-repeat;
    background-position: 16px 12px;
}

.booking__item:nth-child(5) {
    background-image: url(../images/icon-flight.svg);
    background-repeat: no-repeat;
    background-position: 16px 12px;
}

.booking__item a {
    all: unset;
    color: #0F7EE6;
    font-weight: 600;
    font-size: 14px;
}